SnakeGame/Library/
SnakeGame/Temp/FSTimeGet-475c4f94b28149743b247f6dc49c0aae
SnakeGame/Temp/FSTimeGet-86b8fb7d2e4ada547bb1af86a62a1f5c
SnakeGame/Temp/FSTimeGet-ab0407374684c9d42a9450cf809aa0e3
SnakeGame/Temp/UnityLockfile
SnakeGame/Temp/workerlic
SnakeGame/Temp/__Backupscenes/0.backup
SnakeGame/Temp/UnityVS/Visual Studio 2017 Tools.unitypackage
Assembly-CSharp.csproj
.vs/SnakeGame/v15/.suo
.vs/SnakeGame/v15/Server/sqlite3/db.lock
.vs/SnakeGame/v15/Server/sqlite3/storage.ide
.vs/SnakeGame/v15/Server/sqlite3/storage.ide-shm
.vs/SnakeGame/v15/Server/sqlite3/storage.ide-wal
.vs/SnakeGame/v17/.suo
.vsconfig
Library/Artifacts/89/8937cba13ce1cf922ac9286f51243120
Library/Artifacts/88/88e0ad49fefa4491553bfebe28aa5c7d
Library/Artifacts/52/520554390f313677f5df32482b936dfc
Library/
Logs/
obj/Debug/
